<ul class="list">
    <li>
        <h4><a href="/">Home</a></h4>
        <ul>
            <li><a href="https://www.moddable.com">Moddable</a></li>
            <li><a href="/">Documentation</a></li>
        </ul>
    </li>
    <li>
        <h4><a href="/">Resources</a></h4>
        <ul>
            <li><a href="https://github.com/moddable-opensource/moddable">GitHub</a></li>
            <li><a href="/">Link 2</a></li>
        </ul>
    </li>
</ul>
